<div class="overlay" onclick="closeModal()"></div>
<div class="modal-content">
  <input type="text" placeholder="New name ..." id="rename" />
  <button onclick="edit()">Edit</button>
  <div class="modal-close" onclick="closeModal()">x</div>
</div>
