<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EXPRESS - Home</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('./components/header.ejs') %>
    <div class="wrapper">
      <input
        id="name"
        type="text"
        placeholder="Todo's name"
        class="input__name"
      />
      <button class="btn__create" onclick="createTodo()">Create ToDo</button>
      <%- include('./components/list.ejs') %> <% console.log(todos)%>
    </div>
    <div id="modalEdit"><%-include('./components/modalEdit.ejs')%></div>
    <script src="/js/script.js"></script>
  </body>
</html>
