* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(25, 14, 213);
  background: radial-gradient(
    circle,
    rgba(25, 14, 213, 1) 0%,
    rgba(188, 192, 226, 0.6323153035024578) 52%,
    rgba(5, 31, 245, 1) 100%
  );
}
header h1 {
  color: red;
}
header {
  text-align: center;
  background-color: rgb(60, 143, 167);
}

.wrapper {
  margin-top: 50px !important;
  width: 60%;
  margin: 0 20%;
}

.input__name {
  width: 78%;
  height: 35px;
  border-radius: 10px;
  padding-left: 20px;
  border: none;
}

.btn__create {
  width: 18%;
  height: 40px;
  border-radius: 10px;
  border: none;
}
.btn__create:active {
  background-color: rgba(51, 98, 253, 0.507);
  color: white;
}

.card {
  border: 1px solid black;
  padding: 0 5px 0 20px;
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: center;
  border-radius: 10px;
  margin: 20px 0;
}

.card__name {
  width: 70%;
  overflow: hidden;
  font-weight: 700;
  color: rgb(199, 12, 96);
}

.card button {
  height: 70%;
  min-width: 50px;
}

a {
  text-decoration: none;
  color: black;
}

#modalEdit,
#modalDet {
  display: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: 1.4;
  background-color: #f1f1f1;
  padding: 14px 28px;
  border-radius: 5px;
  height: 100px;
  width: 500px;
  display: flex;
  background-color: rgb(177, 118, 118);
}

.modal-content input {
  min-height: 20%;
  min-width: 70%;
  margin: auto 0;
  padding: 5px 15px;
  border-radius: 10px 0 0 10px;
  border: none;
}
.modal-content button {
  min-height: 21%;
  min-width: 20%;
  margin: auto 0;
  padding: 7.1px 5px;
  border-radius: 0px 10px 10px 0px;
  /* border: none; */
}

.modal-close {
  position: absolute;
  right: 10px;
  top: -5px;
  padding: 0px 0px;
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.detail__wrapper {
  width: 400px;
  text-align: center;
  margin: auto;
  height: 100px;
  color: burlywood;
}

.status {
  font-size: 40px;
  color: #f1f1f1;
}

.back {
  font-size: 100px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
